h1 {
    color: white;
    font-family: 'Dancing Script', cursive;    
}

/* * {
    border: solid;
} */

body{
    background: #8B008B;
}

.header{
    background-color: #00008B;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: black;
    color: #ffffff;
    box-sizing: border-box;
    text-align: center;

}

p,h2{
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

.grid img{
    width: 300px; ;
    height: 300px;
}

.item{
    background: DeepPink;
    margin: 15px;
}

.item p{
    font-size: 20px;
    color: #F8F8FF;
    font-family: 'Smokum', cursive;
}